ShellMVC3/Shell.MVC2/Shell.MVC2/Service References/ServiceReference1/InfoNotificationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMemberSearchViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberSearchViewModel" nillable="true" type="tns:MemberSearchViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberSearchViewModel" nillable="true" type="tns:ArrayOfMemberSearchViewModel" />
  <xs:complexType name="MemberSearchViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MyCatchyIntroLineQuickSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileVisibility" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="aboutme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="blockdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="distancefromme" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="genderid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="interestdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastlogindate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="likedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="lookingForageto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lookingforagefrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lookingforid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="peekdate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="perfectmatchsettings" nillable="true" type="q1:searchsetting" />
      <xs:element minOccurs="0" name="postalcodestatus" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profile" nillable="true" type="q2:profile" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profiledata" nillable="true" type="q3:profiledata" />
      <xs:element minOccurs="0" name="profilephotos" nillable="true" type="tns:PhotoEditViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberSearchViewModel" nillable="true" type="tns:MemberSearchViewModel" />
  <xs:complexType name="PhotoEditViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUploading" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhotosUploading" nillable="true" type="tns:PhotoUploadViewModel" />
      <xs:element minOccurs="0" name="ProfilePhotosApproved" nillable="true" type="tns:ArrayOfPhotoEditModel" />
      <xs:element minOccurs="0" name="ProfilePhotosNotApproved" nillable="true" type="tns:ArrayOfPhotoEditModel" />
      <xs:element minOccurs="0" name="ProfilePhotosPrivate" nillable="true" type="tns:ArrayOfPhotoEditModel" />
      <xs:element minOccurs="0" name="SingleProfilePhoto" nillable="true" type="tns:photoeditmodel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoEditViewModel" nillable="true" type="tns:PhotoEditViewModel" />
  <xs:complexType name="PhotoUploadViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="autoupload" type="xs:boolean" />
      <xs:element minOccurs="0" name="multiple" type="xs:boolean" />
      <xs:element minOccurs="0" name="photosuploaded" nillable="true" type="tns:ArrayOfPhotoUploadModel" />
      <xs:element minOccurs="0" name="profileid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoUploadViewModel" nillable="true" type="tns:PhotoUploadViewModel" />
  <xs:complexType name="ArrayOfPhotoUploadModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoUploadModel" nillable="true" type="tns:PhotoUploadModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoUploadModel" nillable="true" type="tns:ArrayOfPhotoUploadModel" />
  <xs:complexType name="PhotoUploadModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creationdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="imagetype" nillable="true" type="q4:lu_photoimagetype" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoUploadModel" nillable="true" type="tns:PhotoUploadModel" />
  <xs:complexType name="ArrayOfPhotoEditModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="photoeditmodel" nillable="true" type="tns:photoeditmodel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoEditModel" nillable="true" type="tns:ArrayOfPhotoEditModel" />
  <xs:complexType name="photoeditmodel">
    <xs:sequence>
      <xs:element minOccurs="0" name="aproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="checkedphoto" type="xs:boolean" />
      <xs:element minOccurs="0" name="checkedprimary" type="xs:boolean" />
      <xs:element minOccurs="0" name="imagecaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photodate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="photoid" type="ser:guid" />
      <xs:element minOccurs="0" name="photostatusid" type="xs:int" />
      <xs:element minOccurs="0" name="profileid" type="xs:int" />
      <xs:element minOccurs="0" name="profileimagetype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="photoeditmodel" nillable="true" type="tns:photoeditmodel" />
  <xs:complexType name="MembersViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="lookingforagefrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lookingforageto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lookingforgenderid" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lookingforgendersid" nillable="true" type="q5:ArrayOfint" />
      <xs:element minOccurs="0" name="maxdistancefromme" type="xs:double" />
      <xs:element minOccurs="0" name="membersviewmodelid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="myage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="myblockcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mycity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mycitystateprovince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mycontinentcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mycountrycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mycountryid" type="xs:int" />
      <xs:element minOccurs="0" name="mycountryname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="myeditprofilephotosviewmodel" nillable="true" type="tns:PhotoEditViewModel" />
      <xs:element minOccurs="0" name="mygenderid" type="xs:int" />
      <xs:element minOccurs="0" name="myintrestcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="myipaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mylatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mylongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mymailcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mypeekscount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mypostalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mypostalcodestatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="myquicksearch" nillable="true" type="tns:quicksearchmodel" />
      <xs:element minOccurs="0" name="myregionname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="myuseragent" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profile" nillable="true" type="q6:profile" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profiledata" nillable="true" type="q7:profiledata" />
      <xs:element minOccurs="0" name="profilestatusmessageshown" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profilevisiblity" nillable="true" type="q8:visiblitysetting" />
      <xs:element minOccurs="0" name="rpxmodel" nillable="true" type="tns:rpxprofile" />
      <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whoilikecount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whoisinterestedinmecount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whoisinterestedinmenewcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wholikesmecount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wholikesmenewcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whomailedme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whomailedmenewcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whopeekedatmenewcount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whopeekededatmecount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembersViewModel" nillable="true" type="tns:MembersViewModel" />
  <xs:complexType name="quicksearchmodel">
    <xs:sequence>
      <xs:element minOccurs="0" name="myselectediamgenderid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="quicksearchmodel" nillable="true" type="tns:quicksearchmodel" />
  <xs:complexType name="rpxprofile">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preferredusername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verifiedemail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rpxprofile" nillable="true" type="tns:rpxprofile" />
</xs:schema>