ShellMVC3/Shell.MVC2/Shell.MVC2/Service References/ServiceReference1/InfoNotificationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" />
  <xs:complexType name="EmailViewModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="EmailMatches" nillable="true" type="q1:ArrayOfMemberSearchViewModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="FeaturedMember" nillable="true" type="q2:MemberSearchViewModel" />
      <xs:element minOccurs="0" name="HasMatches" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="MembersViewModel" nillable="true" type="q3:MembersViewModel" />
      <xs:element minOccurs="0" name="adminEmailViewModel" nillable="true" type="tns:EmailModel" />
      <xs:element minOccurs="0" name="memberEmailViewModel" nillable="true" type="tns:EmailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailViewModel" nillable="true" type="tns:EmailViewModel" />
  <xs:complexType name="EmailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="News" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailModel" nillable="true" type="tns:EmailModel" />
</xs:schema>