ShellMVC3/Shell.MVC2/Shell.MVC2/Service References/ServiceReference1/InfoNotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfoNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.NotificationModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInfoNotificationService_getgenericemailviewmodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getgenericemailviewmodel" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getgenericemailviewmodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getgenericemailviewmodelResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getgenericemailviewmodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getcontactusemailviewmodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getcontactusemailviewmodel" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getcontactusemailviewmodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcontactusemailviewmodelResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getcontactusemailviewmodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailmatchesviewmodelbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:getemailmatchesviewmodelbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailmatchesviewmodelbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemailmatchesviewmodelbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailmatchesviewmodelbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailviewmodelbytemplateid_InputMessage">
    <wsdl:part name="parameters" element="tns:getemailviewmodelbytemplateid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailviewmodelbytemplateid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemailviewmodelbytemplateidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailviewmodelbytemplateid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IInfoNotificationService">
    <wsdl:operation name="getgenericemailviewmodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/getgenericemailviewmodel" message="tns:IInfoNotificationService_getgenericemailviewmodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/getgenericemailviewmodelResponse" message="tns:IInfoNotificationService_getgenericemailviewmodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_getgenericemailviewmodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getcontactusemailviewmodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/getcontactusemailviewmodel" message="tns:IInfoNotificationService_getcontactusemailviewmodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/getcontactusemailviewmodelResponse" message="tns:IInfoNotificationService_getcontactusemailviewmodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_getcontactusemailviewmodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemailmatchesviewmodelbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailmatchesviewmodelbyprofileid" message="tns:IInfoNotificationService_getemailmatchesviewmodelbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailmatchesviewmodelbyprofileidResponse" message="tns:IInfoNotificationService_getemailmatchesviewmodelbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_getemailmatchesviewmodelbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemailviewmodelbytemplateid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailviewmodelbytemplateid" message="tns:IInfoNotificationService_getemailviewmodelbytemplateid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailviewmodelbytemplateidResponse" message="tns:IInfoNotificationService_getemailviewmodelbytemplateid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_getemailviewmodelbytemplateid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IInfoNotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getgenericemailviewmodel">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/getgenericemailviewmodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getcontactusemailviewmodel">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/getcontactusemailviewmodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getemailmatchesviewmodelbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/getemailmatchesviewmodelbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getemailviewmodelbytemplateid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/getemailviewmodelbytemplateid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoNotificationService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc/Soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>