ShellMVC3/Components/Misc/Service References/ErrorLoggingService/ErrorLoggingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCompleteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" minOccurs="0" name="logEntry" nillable="true" type="q1:CustomErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteCompleteLogEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteCompleteLogEntryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateLogSeverity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" minOccurs="0" name="LogSeverityValue" type="q2:LogSeverityEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateLogSeverityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TranslateLogSeverityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>