ShellMVC3/Components/Misc/Service References/PhotoService/PhotoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Services.Contracts.ServiceResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Services.Contracts.ServiceResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
  <xs:complexType name="AnewluvResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfDocument" />
      <xs:element minOccurs="0" name="ResponseMessages" nillable="true" type="tns:ArrayOfResponseMessage" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="currentstatuscode" type="q1:profilestatusEnum" />
      <xs:element minOccurs="0" name="currentstatusdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileid1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileid2" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="profilestatus" type="q2:profilestatusEnum" />
      <xs:element minOccurs="0" name="profilestatusdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="requestreturnflag" type="xs:boolean" />
      <xs:element minOccurs="0" name="responsecreatedate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnewluvResponse" nillable="true" type="tns:AnewluvResponse" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="documenttype" type="tns:DocumentTypes" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mimetype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:simpleType name="DocumentTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Other" />
      <xs:enumeration value="Photo" />
      <xs:enumeration value="Video" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentTypes" nillable="true" type="tns:DocumentTypes" />
  <xs:complexType name="ArrayOfResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseMessage" nillable="true" type="tns:ArrayOfResponseMessage" />
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataelement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
</xs:schema>