ShellMVC3/Components/Misc/Service References/PhotoService/PhotoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" />
  <xs:element name="getallphotosbyusername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getallphotosbyusernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="getallphotosbyusernameResult" nillable="true" type="q1:ArrayOfphoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getphotosbyprofileidandstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="status" type="q2:photoapprovalstatusEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getphotosbyprofileidandstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="getphotosbyprofileidandstatusResult" nillable="true" type="q3:ArrayOfPhotoEditModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpagedphotosbyprofileidstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="status" type="q4:photoapprovalstatusEnum" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpagedphotosbyprofileidstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="getpagedphotosbyprofileidstatusResult" nillable="true" type="q5:ArrayOfPhotoEditModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getsingleprofilephotobyphotoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getsingleprofilephotobyphotoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="getsingleprofilephotobyphotoidResult" nillable="true" type="q6:photoeditmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpagededitphotoviewmodelbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpagededitphotoviewmodelbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="getpagededitphotoviewmodelbyprofileidResult" nillable="true" type="q7:PhotoEditViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteduserphoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteduserphotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="makeuserphoto_private">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makeuserphoto_privateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="makeuserphoto_public">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makeuserphoto_publicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addphotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="model" nillable="true" type="q8:PhotoUploadViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addphotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addphotosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addsinglephoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="newphoto" nillable="true" type="q9:PhotoUploadModel" />
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addsinglephotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addsinglephotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkvalidjpggif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkvalidjpggifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkvalidjpggifResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryphotobyscreenname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryphotobyscreennameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getgalleryphotobyscreennameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryimagebyphotoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="photoid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryimagebyphotoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getgalleryimagebyphotoidResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryphotobyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryphotobyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getgalleryphotobyprofileidResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryimagebynormalizedscreenname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getgalleryimagebynormalizedscreennameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getgalleryimagebynormalizedscreennameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkifphotocaptionalreadyexists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photocaption" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkifphotocaptionalreadyexistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkifphotocaptionalreadyexistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkforgalleryphotobyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkforgalleryphotobyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkforgalleryphotobyprofileidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkforuploadedphotobyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkforuploadedphotobyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkforuploadedphotobyprofileidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getimagebytesfromurl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getimagebytesfromurlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getimagebytesfromurlResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>