ShellMVC3/Components/Misc/Service References/PhotoService/PhotoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="PhotoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="convertedsize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="creationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagecaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orginalsize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="photoid" type="ser:guid" />
      <xs:element minOccurs="0" name="profileid" type="xs:int" />
      <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoModel" nillable="true" type="tns:PhotoModel" />
  <xs:complexType name="ArrayOfPhotoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoModel" nillable="true" type="tns:PhotoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoModel" nillable="true" type="tns:ArrayOfPhotoModel" />
  <xs:complexType name="PhotoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfilePhotosApproved" nillable="true" type="tns:ArrayOfPhotoModel" />
      <xs:element minOccurs="0" name="ProfilePhotosNotApproved" nillable="true" type="tns:ArrayOfPhotoModel" />
      <xs:element minOccurs="0" name="ProfilePhotosPrivate" nillable="true" type="tns:ArrayOfPhotoModel" />
      <xs:element minOccurs="0" name="SingleProfilePhoto" nillable="true" type="tns:PhotoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoViewModel" nillable="true" type="tns:PhotoViewModel" />
  <xs:complexType name="photoeditmodel">
    <xs:sequence>
      <xs:element minOccurs="0" name="approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="checkedphoto" type="xs:boolean" />
      <xs:element minOccurs="0" name="checkedprimary" type="xs:boolean" />
      <xs:element minOccurs="0" name="convertedsize" type="xs:int" />
      <xs:element minOccurs="0" name="creationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" type="xs:boolean" />
      <xs:element minOccurs="0" name="imagecaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orginalsize" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="photoformat" nillable="true" type="q1:lu_photoformat" />
      <xs:element minOccurs="0" name="photoid" type="ser:guid" />
      <xs:element minOccurs="0" name="photostatusid" type="xs:int" />
      <xs:element minOccurs="0" name="profileid" type="xs:int" />
      <xs:element minOccurs="0" name="profileimagetype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="photoeditmodel" nillable="true" type="tns:photoeditmodel" />
  <xs:complexType name="ArrayOfphotoeditmodel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="photoeditmodel" nillable="true" type="tns:photoeditmodel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfphotoeditmodel" nillable="true" type="tns:ArrayOfphotoeditmodel" />
  <xs:complexType name="PhotoEditViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUploading" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhotosUploading" nillable="true" type="tns:PhotoUploadViewModel" />
      <xs:element minOccurs="0" name="ProfilePhotosApproved" nillable="true" type="tns:ArrayOfphotoeditmodel" />
      <xs:element minOccurs="0" name="ProfilePhotosNotApproved" nillable="true" type="tns:ArrayOfphotoeditmodel" />
      <xs:element minOccurs="0" name="ProfilePhotosPrivate" nillable="true" type="tns:ArrayOfphotoeditmodel" />
      <xs:element minOccurs="0" name="SingleProfilePhoto" nillable="true" type="tns:photoeditmodel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoEditViewModel" nillable="true" type="tns:PhotoEditViewModel" />
  <xs:complexType name="PhotoUploadViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="autoupload" type="xs:boolean" />
      <xs:element minOccurs="0" name="multiple" type="xs:boolean" />
      <xs:element minOccurs="0" name="photosuploaded" nillable="true" type="tns:ArrayOfPhotoUploadModel" />
      <xs:element minOccurs="0" name="profileid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoUploadViewModel" nillable="true" type="tns:PhotoUploadViewModel" />
  <xs:complexType name="ArrayOfPhotoUploadModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoUploadModel" nillable="true" type="tns:PhotoUploadModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoUploadModel" nillable="true" type="tns:ArrayOfPhotoUploadModel" />
  <xs:complexType name="PhotoUploadModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="approvalstatusid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="imageb64string" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="imagebytes" nillable="true" type="q2:ArrayOfNullableOfunsignedByte" />
      <xs:element minOccurs="0" name="imagename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagetypeid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="photostatusid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rejectionreasonid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoUploadModel" nillable="true" type="tns:PhotoUploadModel" />
</xs:schema>