ShellMVC3/Components/Misc/Service References/PhotoService/PhotoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="lu_photoformat">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_photoformat" nillable="true" type="tns:lu_photoformat" />
  <xs:simpleType name="profilestatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="NotActivated" />
      <xs:enumeration value="Activated" />
      <xs:enumeration value="Banned" />
      <xs:enumeration value="Inactive" />
      <xs:enumeration value="ResetingPassword" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="profilestatusEnum" nillable="true" type="tns:profilestatusEnum" />
</xs:schema>