ShellMVC3/Components/Misc/Service References/InfoNotificationService/InfoNotificationService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="tns:lu_Application" />
      <xs:element minOccurs="0" name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumbers" type="xs:int" />
      <xs:element minOccurs="0" name="LogSeverity" nillable="true" type="tns:lu_logSeverity" />
      <xs:element minOccurs="0" name="LoggedObject" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="LoggedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sessionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stacktrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="application_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logseverity_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomErrorLog" nillable="true" type="tns:CustomErrorLog" />
  <xs:complexType name="lu_Application">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_Application" nillable="true" type="tns:lu_Application" />
  <xs:complexType name="lu_logSeverity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_logSeverity" nillable="true" type="tns:lu_logSeverity" />
</xs:schema>