ShellMVC3/Components/Misc/Service References/InfoNotificationService/InfoNotificationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.NotificationModel" />
  <xs:element name="senderrormessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" minOccurs="0" name="error" nillable="true" type="q1:CustomErrorLog" />
        <xs:element minOccurs="0" name="addresstype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="senderrormessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="senderrormessageResult" nillable="true" type="q2:EmailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendcontactusemail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="model" nillable="true" type="q3:ContactUsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendcontactusemailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendcontactusemailResult" nillable="true" type="q4:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmembercreatedemail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="model" nillable="true" type="q5:registermodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmembercreatedemailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmembercreatedemailResult" nillable="true" type="q6:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmembercreatedopenidemail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="model" nillable="true" type="q7:registermodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmembercreatedopenidemailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmembercreatedopenidemailResult" nillable="true" type="q8:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberpasswordchangedemail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" minOccurs="0" name="model" nillable="true" type="q9:LogonViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberpasswordchangedemailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberpasswordchangedemailResult" nillable="true" type="q10:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberprofileactivatedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberprofileactivatedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberprofileactivatedemailbyprofileidResult" nillable="true" type="q11:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberactivationcoderecoveredemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberactivationcoderecoveredemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberactivationcoderecoveredemailbyprofileidResult" nillable="true" type="q12:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberemailmemssagereceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberemailmemssagereceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberemailmemssagereceivedemailbyprofileidResult" nillable="true" type="q13:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberpeekreceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberpeekreceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberpeekreceivedemailbyprofileidResult" nillable="true" type="q14:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberlikereceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberlikereceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberlikereceivedemailbyprofileidResult" nillable="true" type="q15:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberinterestreceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberinterestreceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberinterestreceivedemailbyprofileidResult" nillable="true" type="q16:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberchatrequestreceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberchatrequestreceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberchatrequestreceivedemailbyprofileidResult" nillable="true" type="q17:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberofflinechatmessagereceivedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipientprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberofflinechatmessagereceivedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberofflinechatmessagereceivedemailbyprofileidResult" nillable="true" type="q18:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberphotorejectedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminprofileid" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" minOccurs="0" name="reason" type="q19:photorejectionreasonEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberphotorejectedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberphotorejectedemailbyprofileidResult" nillable="true" type="q20:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberphotouploadedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmemberphotouploadedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendmemberphotouploadedemailbyprofileidResult" nillable="true" type="q21:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminspamblockedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blockedprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminspamblockedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendadminspamblockedemailbyprofileidResult" nillable="true" type="q22:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendemailmatchesemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendemailmatchesemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendemailmatchesemailbyprofileidResult" nillable="true" type="q23:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberspamblockedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spamblockedprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blockedby" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberspamblockedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendadminmemberspamblockedemailbyprofileidResult" nillable="true" type="q24:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberblockedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blockedprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blockerprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberblockedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendadminmemberblockedemailbyprofileidResult" nillable="true" type="q25:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberphotoapprovedemailbyprofileid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approvedprofileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminprofileid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendadminmemberphotoapprovedemailbyprofileidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="sendadminmemberphotoapprovedemailbyprofileidResult" nillable="true" type="q26:EmailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemailbytemplateid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.NotificationModel" minOccurs="0" name="template" type="q27:templateenum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getemailbytemplateidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" minOccurs="0" name="getemailbytemplateidResult" nillable="true" type="q28:EmailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>