ShellMVC3/Components/Misc/Service References/InfoNotificationService/InfoNotificationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="lu_photoformat">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imageresizerformat" nillable="true" type="tns:lu_photoImagersizerformat" />
      <xs:element minOccurs="0" name="photoImagersizerformat_id" type="xs:int" />
      <xs:element minOccurs="0" name="selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_photoformat" nillable="true" type="tns:lu_photoformat" />
  <xs:complexType name="lu_photoImagersizerformat">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_photoImagersizerformat" nillable="true" type="tns:lu_photoImagersizerformat" />
  <xs:complexType name="profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="activationcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dailsentmessagequota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dailysentemailquota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="failedpasswordchangeattemptcount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="failedpasswordchangedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="forwardmessages" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logindate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modificationdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordChangeddate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="passwordchangecount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="readprivacystatement" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="readtemsofuse" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="securityanswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="securityquestion" nillable="true" type="tns:lu_securityquestion" />
      <xs:element minOccurs="0" name="sentemailquotahitcount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sentmessagequotahitcount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="profile" nillable="true" type="tns:profile" />
  <xs:complexType name="lu_securityquestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_securityquestion" nillable="true" type="tns:lu_securityquestion" />
  <xs:complexType name="visiblitysetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="agemaxvisibility" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ageminvisibility" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="chatvisiblitytointerests" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="chatvisiblitytolikes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="chatvisiblitytomatches" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="chatvisiblitytopeeks" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="chatvisiblitytosearch" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="countries" nillable="true" type="tns:ArrayOfvisiblitysettings_country" />
      <xs:element minOccurs="0" name="genders" nillable="true" type="tns:ArrayOfvisiblitysettings_gender" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastupdatedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mailchatrequest" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="mailintrests" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="maillikes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="mailmatches" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="mailnews" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="mailpeeks" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="profile_id" type="xs:int" />
      <xs:element minOccurs="0" name="profilevisiblity" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="saveofflinechat" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="steathpeeks" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="visiblitysetting" nillable="true" type="tns:visiblitysetting" />
  <xs:complexType name="ArrayOfvisiblitysettings_country">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="visiblitysettings_country" nillable="true" type="tns:visiblitysettings_country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvisiblitysettings_country" nillable="true" type="tns:ArrayOfvisiblitysettings_country" />
  <xs:complexType name="visiblitysettings_country">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="visiblitysetting" nillable="true" type="tns:visiblitysetting" />
      <xs:element minOccurs="0" name="visiblitysetting_id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="visiblitysettings_country" nillable="true" type="tns:visiblitysettings_country" />
  <xs:complexType name="ArrayOfvisiblitysettings_gender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="visiblitysettings_gender" nillable="true" type="tns:visiblitysettings_gender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvisiblitysettings_gender" nillable="true" type="tns:ArrayOfvisiblitysettings_gender" />
  <xs:complexType name="visiblitysettings_gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="gender" nillable="true" type="tns:lu_gender" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="visiblitysetting" nillable="true" type="tns:visiblitysetting" />
      <xs:element minOccurs="0" name="visiblitysetting_id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="visiblitysettings_gender" nillable="true" type="tns:visiblitysettings_gender" />
  <xs:complexType name="lu_gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_gender" nillable="true" type="tns:lu_gender" />
  <xs:simpleType name="photorejectionreasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Pornographicmaterial" />
      <xs:enumeration value="DuplicatePhoto" />
      <xs:enumeration value="Nofacialpicture" />
      <xs:enumeration value="NotaRealPictureofAperson" />
      <xs:enumeration value="ToomanyGraphics" />
      <xs:enumeration value="CopyRightInfringement" />
      <xs:enumeration value="PhotoshowsaMinor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="photorejectionreasonEnum" nillable="true" type="tns:photorejectionreasonEnum" />
</xs:schema>