ShellMVC3/Components/Misc/Service References/InfoNotificationService/InfoNotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InfoNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv.ViewModels" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Domain.Entities.Anewluv" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.NotificationModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInfoNotificationService_senderrormessage_InputMessage">
    <wsdl:part name="parameters" element="tns:senderrormessage" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_senderrormessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:senderrormessageResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_senderrormessage_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendcontactusemail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendcontactusemail" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendcontactusemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendcontactusemailResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendcontactusemail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedemail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmembercreatedemail" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmembercreatedemailResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedemail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedopenidemail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmembercreatedopenidemail" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedopenidemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmembercreatedopenidemailResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmembercreatedopenidemail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpasswordchangedemail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberpasswordchangedemail" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpasswordchangedemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberpasswordchangedemailResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpasswordchangedemail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberprofileactivatedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberprofileactivatedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberactivationcoderecoveredemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberactivationcoderecoveredemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberemailmemssagereceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberemailmemssagereceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberpeekreceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberpeekreceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberlikereceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberlikereceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberinterestreceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberinterestreceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberchatrequestreceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberchatrequestreceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberofflinechatmessagereceivedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberofflinechatmessagereceivedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberphotorejectedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberphotorejectedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberphotouploadedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendmemberphotouploadedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminspamblockedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendadminspamblockedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminspamblockedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendadminspamblockedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminspamblockedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendemailmatchesemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendemailmatchesemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendemailmatchesemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendemailmatchesemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendemailmatchesemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberspamblockedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberspamblockedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberblockedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberblockedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberblockedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberblockedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberblockedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberphotoapprovedemailbyprofileid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendadminmemberphotoapprovedemailbyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailbytemplateid_InputMessage">
    <wsdl:part name="parameters" element="tns:getemailbytemplateid" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailbytemplateid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemailbytemplateidResponse" />
  </wsdl:message>
  <wsdl:message name="IInfoNotificationService_getemailbytemplateid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IInfoNotificationService">
    <wsdl:operation name="senderrormessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/senderrormessage" message="tns:IInfoNotificationService_senderrormessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/senderrormessageResponse" message="tns:IInfoNotificationService_senderrormessage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_senderrormessage_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendcontactusemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendcontactusemail" message="tns:IInfoNotificationService_sendcontactusemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendcontactusemailResponse" message="tns:IInfoNotificationService_sendcontactusemail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendcontactusemail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmembercreatedemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmembercreatedemail" message="tns:IInfoNotificationService_sendmembercreatedemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmembercreatedemailResponse" message="tns:IInfoNotificationService_sendmembercreatedemail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmembercreatedemail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmembercreatedopenidemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmembercreatedopenidemail" message="tns:IInfoNotificationService_sendmembercreatedopenidemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmembercreatedopenidemailResponse" message="tns:IInfoNotificationService_sendmembercreatedopenidemail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmembercreatedopenidemail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberpasswordchangedemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberpasswordchangedemail" message="tns:IInfoNotificationService_sendmemberpasswordchangedemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberpasswordchangedemailResponse" message="tns:IInfoNotificationService_sendmemberpasswordchangedemail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberpasswordchangedemail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberprofileactivatedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberprofileactivatedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberprofileactivatedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberprofileactivatedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberactivationcoderecoveredemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberactivationcoderecoveredemailbyprofileid" message="tns:IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberactivationcoderecoveredemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberactivationcoderecoveredemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberemailmemssagereceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberemailmemssagereceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberemailmemssagereceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberemailmemssagereceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberpeekreceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberpeekreceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberpeekreceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberpeekreceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberlikereceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberlikereceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberlikereceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberlikereceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberinterestreceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberinterestreceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberinterestreceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberinterestreceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberchatrequestreceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberchatrequestreceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberchatrequestreceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberchatrequestreceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberofflinechatmessagereceivedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberofflinechatmessagereceivedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberofflinechatmessagereceivedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberofflinechatmessagereceivedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberphotorejectedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberphotorejectedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberphotorejectedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberphotorejectedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendmemberphotouploadedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberphotouploadedemailbyprofileid" message="tns:IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendmemberphotouploadedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendmemberphotouploadedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendadminspamblockedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminspamblockedemailbyprofileid" message="tns:IInfoNotificationService_sendadminspamblockedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminspamblockedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendadminspamblockedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendadminspamblockedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendemailmatchesemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendemailmatchesemailbyprofileid" message="tns:IInfoNotificationService_sendemailmatchesemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendemailmatchesemailbyprofileidResponse" message="tns:IInfoNotificationService_sendemailmatchesemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendemailmatchesemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberspamblockedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberspamblockedemailbyprofileid" message="tns:IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberspamblockedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendadminmemberspamblockedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberblockedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberblockedemailbyprofileid" message="tns:IInfoNotificationService_sendadminmemberblockedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberblockedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendadminmemberblockedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendadminmemberblockedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberphotoapprovedemailbyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberphotoapprovedemailbyprofileid" message="tns:IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/sendadminmemberphotoapprovedemailbyprofileidResponse" message="tns:IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_sendadminmemberphotoapprovedemailbyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemailbytemplateid">
      <wsdl:input wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailbytemplateid" message="tns:IInfoNotificationService_getemailbytemplateid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInfoNotificationService/getemailbytemplateidResponse" message="tns:IInfoNotificationService_getemailbytemplateid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IInfoNotificationService_getemailbytemplateid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IInfoNotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="senderrormessage">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/senderrormessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendcontactusemail">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendcontactusemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmembercreatedemail">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmembercreatedemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmembercreatedopenidemail">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmembercreatedopenidemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberpasswordchangedemail">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberpasswordchangedemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberprofileactivatedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberprofileactivatedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberactivationcoderecoveredemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberactivationcoderecoveredemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberemailmemssagereceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberemailmemssagereceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberpeekreceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberpeekreceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberlikereceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberlikereceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberinterestreceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberinterestreceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberchatrequestreceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberchatrequestreceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberofflinechatmessagereceivedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberofflinechatmessagereceivedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberphotorejectedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberphotorejectedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendmemberphotouploadedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendmemberphotouploadedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendadminspamblockedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendadminspamblockedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendemailmatchesemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendemailmatchesemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberspamblockedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendadminmemberspamblockedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberblockedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendadminmemberblockedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendadminmemberphotoapprovedemailbyprofileid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/sendadminmemberphotoapprovedemailbyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getemailbytemplateid">
      <soap:operation soapAction="http://tempuri.org/IInfoNotificationService/getemailbytemplateid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoNotificationService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc/Soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>