ShellMVC3/Components/Anewluv.Lib/Service References/MembersMapperService/MembersMapperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MembersMapperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Anewluv.Domain.Data.ViewModels" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Anewluv.Domain.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodel_InputMessage">
    <wsdl:part name="parameters" element="tns:mapmembersearchviewmodel" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:mapmembersearchviewmodelResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodels_InputMessage">
    <wsdl:part name="parameters" element="tns:mapmembersearchviewmodels" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodels_OutputMessage">
    <wsdl:part name="parameters" element="tns:mapmembersearchviewmodelsResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmembersearchviewmodels_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getmembersearchviewmodel" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmembersearchviewmodelResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodels_InputMessage">
    <wsdl:part name="parameters" element="tns:getmembersearchviewmodels" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmembersearchviewmodelsResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmembersearchviewmodels_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getprofilebrowsemodel" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprofilebrowsemodelResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodels_InputMessage">
    <wsdl:part name="parameters" element="tns:getprofilebrowsemodels" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprofilebrowsemodelsResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilebrowsemodels_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getprofilecriteriamodel" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprofilecriteriamodelResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodelempty_InputMessage">
    <wsdl:part name="parameters" element="tns:getprofilecriteriamodelempty" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodelempty_OutputMessage">
    <wsdl:part name="parameters" element="tns:getprofilecriteriamodelemptyResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getprofilecriteriamodelempty_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultquicksearchsettingsmembers_InputMessage">
    <wsdl:part name="parameters" element="tns:getdefaultquicksearchsettingsmembers" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultquicksearchsettingsmembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdefaultquicksearchsettingsmembersResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultquicksearchsettingsmembers_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultsearchsettingsguest_InputMessage">
    <wsdl:part name="parameters" element="tns:getdefaultsearchsettingsguest" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultsearchsettingsguest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdefaultsearchsettingsguestResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getdefaultsearchsettingsguest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodel_InputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodel" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodelResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodel_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodelopenid_InputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodelopenid" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodelopenid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodelopenidResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodelopenid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodeltest_InputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodeltest" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodeltest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getregistermodeltestResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getregistermodeltest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdata_InputMessage">
    <wsdl:part name="parameters" element="tns:updatememberdata" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatememberdataResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdata_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdatabyprofileid_InputMessage">
    <wsdl:part name="parameters" element="tns:updatememberdatabyprofileid" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdatabyprofileid_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatememberdatabyprofileidResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updatememberdatabyprofileid_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updateguestdata_InputMessage">
    <wsdl:part name="parameters" element="tns:updateguestdata" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updateguestdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateguestdataResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_updateguestdata_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_removeguestdata_InputMessage">
    <wsdl:part name="parameters" element="tns:removeguestdata" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_removeguestdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeguestdataResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_removeguestdata_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getguestdata_InputMessage">
    <wsdl:part name="parameters" element="tns:getguestdata" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getguestdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:getguestdataResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getguestdata_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmemberdata_InputMessage">
    <wsdl:part name="parameters" element="tns:getmemberdata" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmemberdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmemberdataResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getmemberdata_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmember_InputMessage">
    <wsdl:part name="parameters" element="tns:mapmember" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmember_OutputMessage">
    <wsdl:part name="parameters" element="tns:mapmemberResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapmember_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapguest_InputMessage">
    <wsdl:part name="parameters" element="tns:mapguest" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapguest_OutputMessage">
    <wsdl:part name="parameters" element="tns:mapguestResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_mapguest_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getquickmatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getquickmatches" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getquickmatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getquickmatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getquickmatches_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/" name="detail" element="q22:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getemailmatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getemailmatches" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getemailmatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemailmatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMembersMapperService_getemailmatches_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/" name="detail" element="q23:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IMembersMapperService">
    <wsdl:operation name="mapmembersearchviewmodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodel" message="tns:IMembersMapperService_mapmembersearchviewmodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodelResponse" message="tns:IMembersMapperService_mapmembersearchviewmodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_mapmembersearchviewmodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="mapmembersearchviewmodels">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodels" message="tns:IMembersMapperService_mapmembersearchviewmodels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodelsResponse" message="tns:IMembersMapperService_mapmembersearchviewmodels_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_mapmembersearchviewmodels_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmembersearchviewmodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getmembersearchviewmodel" message="tns:IMembersMapperService_getmembersearchviewmodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getmembersearchviewmodelResponse" message="tns:IMembersMapperService_getmembersearchviewmodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getmembersearchviewmodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmembersearchviewmodels">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getmembersearchviewmodels" message="tns:IMembersMapperService_getmembersearchviewmodels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getmembersearchviewmodelsResponse" message="tns:IMembersMapperService_getmembersearchviewmodels_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getmembersearchviewmodels_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprofilebrowsemodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilebrowsemodel" message="tns:IMembersMapperService_getprofilebrowsemodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilebrowsemodelResponse" message="tns:IMembersMapperService_getprofilebrowsemodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getprofilebrowsemodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprofilebrowsemodels">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilebrowsemodels" message="tns:IMembersMapperService_getprofilebrowsemodels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilebrowsemodelsResponse" message="tns:IMembersMapperService_getprofilebrowsemodels_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getprofilebrowsemodels_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprofilecriteriamodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilecriteriamodel" message="tns:IMembersMapperService_getprofilecriteriamodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilecriteriamodelResponse" message="tns:IMembersMapperService_getprofilecriteriamodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getprofilecriteriamodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprofilecriteriamodelempty">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilecriteriamodelempty" message="tns:IMembersMapperService_getprofilecriteriamodelempty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getprofilecriteriamodelemptyResponse" message="tns:IMembersMapperService_getprofilecriteriamodelempty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getprofilecriteriamodelempty_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdefaultquicksearchsettingsmembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getdefaultquicksearchsettingsmembers" message="tns:IMembersMapperService_getdefaultquicksearchsettingsmembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getdefaultquicksearchsettingsmembersResponse" message="tns:IMembersMapperService_getdefaultquicksearchsettingsmembers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getdefaultquicksearchsettingsmembers_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdefaultsearchsettingsguest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getdefaultsearchsettingsguest" message="tns:IMembersMapperService_getdefaultsearchsettingsguest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getdefaultsearchsettingsguestResponse" message="tns:IMembersMapperService_getdefaultsearchsettingsguest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getdefaultsearchsettingsguest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getregistermodel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodel" message="tns:IMembersMapperService_getregistermodel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodelResponse" message="tns:IMembersMapperService_getregistermodel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getregistermodel_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getregistermodelopenid">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodelopenid" message="tns:IMembersMapperService_getregistermodelopenid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodelopenidResponse" message="tns:IMembersMapperService_getregistermodelopenid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getregistermodelopenid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getregistermodeltest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodeltest" message="tns:IMembersMapperService_getregistermodeltest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getregistermodeltestResponse" message="tns:IMembersMapperService_getregistermodeltest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getregistermodeltest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatememberdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/updatememberdata" message="tns:IMembersMapperService_updatememberdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/updatememberdataResponse" message="tns:IMembersMapperService_updatememberdata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_updatememberdata_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatememberdatabyprofileid">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/updatememberdatabyprofileid" message="tns:IMembersMapperService_updatememberdatabyprofileid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/updatememberdatabyprofileidResponse" message="tns:IMembersMapperService_updatememberdatabyprofileid_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_updatememberdatabyprofileid_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateguestdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/updateguestdata" message="tns:IMembersMapperService_updateguestdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/updateguestdataResponse" message="tns:IMembersMapperService_updateguestdata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_updateguestdata_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeguestdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/removeguestdata" message="tns:IMembersMapperService_removeguestdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/removeguestdataResponse" message="tns:IMembersMapperService_removeguestdata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_removeguestdata_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getguestdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getguestdata" message="tns:IMembersMapperService_getguestdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getguestdataResponse" message="tns:IMembersMapperService_getguestdata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getguestdata_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmemberdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getmemberdata" message="tns:IMembersMapperService_getmemberdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getmemberdataResponse" message="tns:IMembersMapperService_getmemberdata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getmemberdata_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="mapmember">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/mapmember" message="tns:IMembersMapperService_mapmember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/mapmemberResponse" message="tns:IMembersMapperService_mapmember_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_mapmember_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="mapguest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/mapguest" message="tns:IMembersMapperService_mapguest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/mapguestResponse" message="tns:IMembersMapperService_mapguest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_mapguest_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getquickmatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getquickmatches" message="tns:IMembersMapperService_getquickmatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getquickmatchesResponse" message="tns:IMembersMapperService_getquickmatches_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getquickmatches_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemailmatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembersMapperService/getemailmatches" message="tns:IMembersMapperService_getemailmatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembersMapperService/getemailmatchesResponse" message="tns:IMembersMapperService_getemailmatches_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Schemas.Testws.Medtox.com" name="ServiceFaultFault" message="tns:IMembersMapperService_getemailmatches_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IMembersMapperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mapmembersearchviewmodel">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mapmembersearchviewmodels">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/mapmembersearchviewmodels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getmembersearchviewmodel">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getmembersearchviewmodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getmembersearchviewmodels">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getmembersearchviewmodels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getprofilebrowsemodel">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getprofilebrowsemodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getprofilebrowsemodels">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getprofilebrowsemodels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getprofilecriteriamodel">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getprofilecriteriamodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getprofilecriteriamodelempty">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getprofilecriteriamodelempty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getdefaultquicksearchsettingsmembers">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getdefaultquicksearchsettingsmembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getdefaultsearchsettingsguest">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getdefaultsearchsettingsguest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getregistermodel">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getregistermodel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getregistermodelopenid">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getregistermodelopenid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getregistermodeltest">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getregistermodeltest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatememberdata">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/updatememberdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatememberdatabyprofileid">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/updatememberdatabyprofileid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateguestdata">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/updateguestdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeguestdata">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/removeguestdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getguestdata">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getguestdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getmemberdata">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getmemberdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mapmember">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/mapmember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mapguest">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/mapguest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getquickmatches">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getquickmatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getemailmatches">
      <soap:operation soapAction="http://tempuri.org/IMembersMapperService/getemailmatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembersMapperService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost/Anewluv.Web.Services.Members/MembersMapperService.svc/Soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>