ShellMVC3/Shell.MVC2/Shell.MVC2/Service References/ErrorLogging/ErrorLoggingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="errorlog">
    <xs:sequence>
      <xs:element minOccurs="0" name="application" nillable="true" type="tns:lu_application" />
      <xs:element minOccurs="0" name="assemblyname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorpage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ipaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linenumbers" type="xs:int" />
      <xs:element minOccurs="0" name="loggedobject" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="loggeduser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logseverity" nillable="true" type="tns:lu_logseverity" />
      <xs:element minOccurs="0" name="logseverityinternal" nillable="true" type="tns:lu_logseverityinternal" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="methodname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentmethodname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="querystring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stacktrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="errorlog" nillable="true" type="tns:errorlog" />
  <xs:complexType name="lu_application">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_application" nillable="true" type="tns:lu_application" />
  <xs:complexType name="lu_logseverity">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_logseverity" nillable="true" type="tns:lu_logseverity" />
  <xs:complexType name="lu_logseverityinternal">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lu_logseverityinternal" nillable="true" type="tns:lu_logseverityinternal" />
  <xs:simpleType name="logseverityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Information">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Warning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CriticalError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaxSeverity">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="logseverityEnum" nillable="true" type="tns:logseverityEnum" />
</xs:schema>