ShellMVC3/Shell.MVC2/Shell.MVC2/Service References/ErrorLogging/ErrorLoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ErrorLoggingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.MVC2.Infrastructure.Entities.CustomErrorLogModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IErrorLoggingService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IErrorLoggingService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IErrorLoggingService_WriteCompleteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteCompleteLogEntry" />
  </wsdl:message>
  <wsdl:message name="IErrorLoggingService_WriteCompleteLogEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteCompleteLogEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IErrorLoggingService_TranslateLogSeverity_InputMessage">
    <wsdl:part name="parameters" element="tns:TranslateLogSeverity" />
  </wsdl:message>
  <wsdl:message name="IErrorLoggingService_TranslateLogSeverity_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranslateLogSeverityResponse" />
  </wsdl:message>
  <wsdl:portType name="IErrorLoggingService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLoggingService/GetData" message="tns:IErrorLoggingService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLoggingService/GetDataResponse" message="tns:IErrorLoggingService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteCompleteLogEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLoggingService/WriteCompleteLogEntry" message="tns:IErrorLoggingService_WriteCompleteLogEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLoggingService/WriteCompleteLogEntryResponse" message="tns:IErrorLoggingService_WriteCompleteLogEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranslateLogSeverity">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLoggingService/TranslateLogSeverity" message="tns:IErrorLoggingService_TranslateLogSeverity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLoggingService/TranslateLogSeverityResponse" message="tns:IErrorLoggingService_TranslateLogSeverity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IErrorLoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IErrorLoggingService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteCompleteLogEntry">
      <soap:operation soapAction="http://tempuri.org/IErrorLoggingService/WriteCompleteLogEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateLogSeverity">
      <soap:operation soapAction="http://tempuri.org/IErrorLoggingService/TranslateLogSeverity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorLoggingService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc/Soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>